---
import PressToReveal from "@/components/PressToReveal";
import Layout from "@/layouts/Layout.astro";
import ActionButton from "@/components/ActionButton.astro";
import { actions } from "astro:actions";

const [randomPlayerToStart, players] = await Promise.all([
    Astro.session?.get("randomPlayerToStart"),
    await Astro.session?.get("players"),
]);

if (!players) {
    return Astro.redirect(`/config`);
}

const playersNames = players.map((p) => p.name);
const impostor = players.find((p) => p.isImpostor);

const startGame = Astro.getActionResult(actions.game.startGame);

if (startGame && !startGame.error) {
    return Astro.redirect(
        `/game/${encodeURIComponent(startGame.data.firstPlayer)}`,
    );
}

const clearGame = Astro.getActionResult(actions.game.clearGame);

if (clearGame && !clearGame.error) {
    return Astro.redirect(`/config`);
}
---

<Layout title="Comienza el juego">
    <div class="flex flex-col items-center justify-center min-h-screen gap-24">
        <h1>Que empiece el juego {randomPlayerToStart}</h1>
        <PressToReveal
            nameImpostor={impostor?.name || "Desconocido"}
            client:load
        />
        <div class="flex flex-col sm:flex-row justify-center gap-8">
            <form action={actions.game.startGame} method="post">
                {
                    playersNames.map((name) => (
                        <input type="hidden" name="players" value={name} />
                    ))
                }
                <ActionButton text="Otra partida" />
            </form>

            <form action={actions.game.clearGame} method="post">
                <ActionButton text="Nuevo juego" />
            </form>
        </div>
    </div>
</Layout>
