---
import { ClientRouter } from "astro:transitions";
import { getImage } from "astro:assets";
import { BackgroundImage } from "@/assets";
import "../styles/global.css";

interface Props {
	title: string;
	description?: string;
	lang?: string;
	image?: string;
}

const {
	title,
	description = "Bienvenido a Traitor Royale, el juego de estrategia definitivo.",
	lang = "es",
	image = "/og-default.png",
} = Astro.props;

const optimizedBackground = await getImage({
	src: BackgroundImage,
	format: "webp",
});
---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />

		<link
			rel="icon"
			type="image/png"
			href="/favicon-96x96.png"
			sizes="96x96"
		/>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="shortcut icon" href="/favicon.ico" />
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="/apple-touch-icon.png"
		/>
		<link rel="manifest" href="/site.webmanifest" />

		<meta name="generator" content={Astro.generator} />

		<title>{title} | Traitor Royale</title>
		<meta name="description" content={description} />

		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content={new URL(image, Astro.url)} />
		<meta property="og:type" content="website" />

		<ClientRouter />
	</head>

	<body
		class="bg-center bg-repeat bg-size-[auto_250px]"
		style={`background-image: url(${optimizedBackground.src});`}
	>
		<slot />
	</body>
</html>

<style>
	html {
		font-family: system-ui, sans-serif;
		background-color: #13151a;
	}

	body {
		margin: 0;
		width: 100%;
		min-height: 100vh;
	}
</style>
